<nav class="navbar navbar-expand-md navbar-light fixed-top ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="softeam-logo">
          <div>
              <img src="./assets/images/logo.png" />
          </div>
        </li>
        <li class="nav-item" [ngClass]="{'active': currentTab == tabList.HOME}">
          <a class="nav-link" href="#"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': currentTab == tabList.PROFILE}">
          <a class="nav-link" href="#"><i class="fa fa-user"></i> Profil</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': currentTab == tabList.NEW_REQUEST}">
          <a class="nav-link" href="#"><i class="fa fa-plus"></i> Demande administrative</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <div class="search-employee-input-wrapper">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </div>
       <button class="btn btn-link" type="button" (click)="logOut()"><i class="fa fa-sign-out"></i> Déconnexion</button>
      </form>
    </div>
</nav>