<div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Nom :</label>
    <label class="col-sm-9 col-7">Snow</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Nom de jeune fille :</label>
    <label class="col-sm-9 col-7">-</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Prénom :</label>
    <label class="col-sm-9 col-7">John</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Date de début de contrat :</label>
    <label class="col-sm-9 col-7">04/02/2019</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Adresse line 1 :</label>
    <label class="col-sm-9 col-7">20 Rue Nollet</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Code postal :</label>
    <label class="col-sm-9 col-7">75017</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Ville :</label>
    <label class="col-sm-9 col-7">Paris</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Téléphone portable :</label>
    <label class="col-sm-9 col-7">06 50 44 85 66</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Téléphone :</label>
    <label class="col-sm-9 col-7">-</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Email :</label>
    <label class="col-sm-9 col-7">
      <a href="mailto:john.snow@softeam.fr">john.snow@softeam.fr</a>
    </label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Date de naissance :</label>
    <label class="col-sm-9 col-7">18/03/1980</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Lieu de naissance :</label>
    <label class="col-sm-9 col-7">Winterfell</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Code postal lieu de naissance :</label>
    <label class="col-sm-9 col-7">99</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Nationalité :</label>
    <label class="col-sm-9 col-7">Northen</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">N° titre de séjour :</label>
    <label class="col-sm-9 col-7">54853697412596</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Sexe :</label>
    <label class="col-sm-9 col-7">Masculin</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">N° sécurité sociale :</label>
    <label class="col-sm-9 col-7">-</label>
  </div>
  <div class="form-group row">
    <label class="col-sm-3 col-5">Situation de famille :</label>
    <label class="col-sm-9 col-7">Marié</label>
  </div>
</div>
